.menu-inline{
    li {
      text-transform: uppercase;

      a {
        color: $black;
        font-size: .8rem;
        font-weight: 500;
      }
    }
  }

  .social-list {
    padding: 0;
    display: block;
  }

.social-wrap {
  float: right;

  @include media-below($break-small) {
    float: left;
    padding: 0 0 0 20px;
  }

  .footer-text {
    display: inline-block;
    position: relative;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 500;
  }

.social-list {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  li {
    display: inline-block;
    position: relative;
    img {
      width: 30px;
      vertical-align: middle;
      margin: 0 15px 0 0;
    }
  }
}
}


.site-footer {
  .grid-middle {
    [class*=col-] {
      padding:0;
    }
  }
}


#menu-footer {
  @include media-below($break-small) {
    display: none;
    visibility: hidden;
  }
}
