

.menu-inline {
    li {
      a {
      color: color(text);
      font-weight: 400;
      text-align: center;
      padding: 0 3px 10px 0;
    }
  }

  .btn {
    a{
      color: $white;
    }

    }

    .current-menu-item {
      &:after {
        content: '';
        height: 3px;
        background: $primary-col;
        display: block;
        margin-top: 10px;
        @include media-below($break-medium) {
          height: 0;
        }
      }
    }
    .btn.current-menu-item {
      &:after {
        content: '';
        height: 0;
        background: $primary-col;
        display: block;
        margin-top: 0;
      }
    }
}


.site-header {
  display: block;
}

.wrap-header {
  position: fixed;
  width: 100vw;
  height: 80px;
  z-index: 99;
}
.site-branding {
  display: inline-block;
  float: left;
  position: relative;
}

.header-logo {
  width: 140px;
}

.site-navigation {
  display: inline-block;
  float: right;
  position: relative;
  text-align: right;

  @include media-below($break-medium) {
    text-align: center;
    float: none;
  }

}


#menu-header {
  li {
    @include media-below($break-medium) {
      display: block;
      text-align: center;
      float: none;
      margin-bottom: 30px;
      margin-right: 0;
    }
  }

  .btn {
    @include media-below($break-medium) {
      display: none;
      visibility: hidden;
    }
  }
}

#responsive-menu-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  z-index: 99;

  span {
    width: 100%;
    height: 3px;
    background: $primary-col;
    position: absolute;
    top: 0;
    left: 0;

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 20px;
    }
  }
}


.book-bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  display: none;
  visibility: hidden;
  background-color: $primary-col;
  border-color: $primary-col;
  color: $white;
  transition: all .5s ease;
  text-align: center;

  &:hover {
    background-color: $primary-col;
    border-color: $primary-col;
  }

  @include media-below($break-medium) {
    display: block;
    visibility: visible;
  }

}
