.slider-wrapper {
  position: relative;
  display: block;
  height: 100%;
  height: 100vh;
  z-index: 1;
  top: 0;
  width: 100%;
  margin-bottom: 30px;

    @include media-below($break-small) {
      margin-bottom: 0px;
    }

  .top-slider {
    height: calc(100vh - 80px);
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 10;

    .slide {
      display: inline-block;
      position: relative;
      outline: none;
      height: calc(100vh - 80px);

      .hero-img {
        position: relative;
        overflow: hidden;
        top: 0;
        left: 0;
        height: calc(100vh - 80px);
      }
    }
  }

.hero-img {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  .inner-container {
    .grid-middle{
      height: calc(100vh - 80px);
    }
  }
}

.slide-cta {
  color: $white;
  @extend .brand-font-bold;
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.8rem;

  @include media-below($break-small) {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}

.slide-subtext {
  color: $white;
  @extend .brand-font-italic;
  text-align: center;
  font-size: 1.2rem;
}


.left-arrow-cont {
    position: absolute;
    left: 10vw;
    top: calc(48vh - 80px);
    z-index: 100;
    .left-arrow {
        cursor: pointer;
    }

    .arrow {
        width: 60px;
    }

    @include media-below($break-small) {
      top: 77vh;
    }
}

.right-arrow-cont {
    position: absolute;
    right: 10vw;
    top: calc(48vh - 80px);
    z-index: 100;
    .arrow {
        width: 60px;
    }

    @include media-below($break-small) {
      top: 77vh;
    }

    .right-arrow {
        transform: rotate(180deg);
        cursor: pointer;
    }
}

.colr-slide-intro {
  font-size: .9rem;
  @extend .brand-font-bold;
}

.colr-slide-text {
  font-size: .9rem;
}
}


.ctf-carousel .ctf-carousel-more, .ctf-carousel .ctf-carousel-less {
  background: white;
}

#ctf .fa {
  color: $black;
}


.ctf-owl-prev, .ctf-owl-next {
  background: none;
}
